body {
	background-color: black;
}

span {
	border: solid snow 1px;
	overflow: auto;
}

.full-date {
	display: inline;
	color: greenyellow;
	text-align: center;
}

#clock {
	font-family: lobster, helvetica, sans-serif;
	font-size: 5em;
	width: 700px;
	margin: 0 auto;
	padding-top: 20px;
	color: greenyellow;
}