body {
	background-color: black;
}

/*span {
	border: solid dimgrey 1px;
	overflow: auto;
	width: 100%;
}*/

.full-date {
	display: inline;
	color: dimgrey;
	text-align: center;
}

#clock {
	font-family: monospace;
	font-size: 4em;
	width: 700px;
	margin: 0 auto;
	margin-top: 40px;
	padding: 10px;
	color: #494949;
	background-color: snow;
	border-radius: 20px;
}

div#clock div {
	margin-left: 30px;
}