body {
	background-color: black;
}

span {
	/*border: solid black 1px;*/
	float: left;
	padding: 3px;
}

.full-date {
	display: inline;
	color: greenyellow;
}

#clock {
	font-family: helvetica, sans-serif;
	text-align: center;
	font-size: 6em;
	width: 650px;
	margin: auto;
	color: greenyellow;
}

.nav {
	clear: both;
	overflow: auto;
	width: 200px;
	margin: auto;
	padding: 20px;
}

.previous {
	float: left;
}

.next {
	float: right;
}